html{
    overflow-y: scroll;
}
body {

    color: #b5b5b5;
    font-size: 2em;
    font-family: 'Julius Sans One', 'Arial', 'Helvetica', sans-serif;


}

header {
    background-color: #f9f9f9;
    border-bottom:1px solid #eaeaea;
    padding: 20px 0px 0px 0px;

}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav .img--container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom:2%;
}

nav .img--rounded {
    background-image: url("../img/pcd.PNG");
    background-size: cover;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom:5%;
}
.menu{
    margin:0px auto;
}
.navbar-collapse{
    width:60%;
    display:flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin:0px;
    text-align: center;


}

nav ul li a {
    text-decoration: none;
    box-sizing: border-box;
    border:1px hidden;
    padding:10px 10px 3px 10px;

}


nav ul li a:link {
    text-decoration: none;

}

nav ul li a:hover {
    text-decoration: none;
    border-bottom:2px solid #1464ba;
    box-sizing: content;
    transition:border-bottom 0.2s ease-out;


}

.active{
    text-decoration: none;
    color:#fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(20, 100, 186,0.6);
    box-sizing: content;
    transition:background-color 0.8s ease-out;
}

.active a{
    color:#fff;
}

#dashboard{

    background-color: #fff;
    padding: 50px 15px 0px 15px;

}

.row{
    margin:0%;
}

footer{
    padding-bottom: 2%;
    padding-top: 1%;
}

footer hr{
    width: 60vw;
}

.row.icons{
    text-align:center;
}

footer ul{
    display:flex;
    justify-content: space-around;
    list-style: none;

}

