.row.rack{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin:0px;
    margin-top:10px;
    font-family: 'Raleway','Arial','Helvetica', sans-serif;
    color:#b5b5b5;
    box-sizing: border-box;
}

.row.rack a{
    text-decoration: none;
    font-weight: 900;
    color:#b5b5b5;
}
.row.rack a:hover{
    text-decoration: none;
}

@keyframes showup-up{
    0%{transform:translateY(-50px);opacity:0;}
    100%{transform:none;opacity: 1;}
}

.web--container{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin-bottom:50px;
    box-sizing: border-box;
    animation:showup-up 1s ease-out;
}


.web--container a img{
    width:80%;
    height: 80%;
    box-sizing: border-box;
    border:1px solid #eaeaea;
    transition: width .3s ease-in,border .3s ease-in;

}


.web--container a img:hover{
    width:82%;
    height: 82%;
    box-sizing: border-box;
    border:3px solid  rgba(20, 100, 186,0.8);
    transition: width .3s ease-out, border .3s ease-out;


}

.info--project a{
    margin-top:10%;
}

.info--project a:hover{
    color:#1464ba;
}

.web--container a:hover + .info--project a{
    color:#1464ba;

}


.web--container p:hover{
    color:#1464ba;
}
