<div class="row about">
    <div class="about--img--container hidden-xs hidden-sm hidden-md">
        <img class="about--img" src="img/aboutrecortada.png" alt="">
    </div>
    <div class="text--container">
        <p><span>How?</span> is the question that is always roundering my head, specially in technological matters. Besides, music and films put a spell on me since I was I child, I can remember myself watching the MTV clips until late night. For these reasons I decided to study <span>Telecommunications Engineering</span>. I tought that somehow I could join my passions in one purpouse, and finally I did it. After this, I worked on television and in a small video producer studio for a while. But on the way I felt that something was wrong, I had been lost my technological enthusiasym, so I put all my effort to get it back by getting in the <span>web development world</span>. The combination of <span>visual, technology and usability</span> made me feel curious for this field. I enrolled on some courses, I designed my own portfolio, wich you are seeing right now and I got ready to knock your door and <span>keep growing together!</span>
        </p>
    </div>
</div>
