<div class="row about">
    <div class="about--img--container">
        <img class="about--img" src="img/aboutrecortada.png" alt="">
    </div>
    <div class="text--container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit dui in ornare hendrerit. Sed posuere nunc non elementum gravida. Morbi non egestas quam, sit amet pellentesque metus. Donec sit amet eros rutrum, volutpat neque varius, vestibulum purus. Aliquam imperdiet convallis risus eget vulputate. Vestibulum mattis ante massa, posuere consectetur augue posuere sit amet. Sed in risus lobortis, facilisis nibh et, venenatis risus. Nam a neque sapien. Sed posuere pellentesque ipsum, lobortis blandit turpis auctor id. Quisque ut faucibus justo. Nullam euismod arcu eu turpis accumsan, at euismod ipsum fringilla. Cras eu risus sed mauris sollicitudin aliquet a in dui. Nam porttitor interdum urna sit amet aliquam. Nunc malesuada efficitur gravida. Aenean semper urna risus, et semper ligula egestas vel. Donec egestas velit sodales ante tristique, quis rhoncus ipsum lobortis. Vestibulum in finibus justo, a efficitur lectus.
        </p>
    </div>
</div>
