<div class="row about">
    <div class="about--img--container hidden-xs hidden-sm hidden-md">
        <img class="about--img" src="img/aboutrecortada.png" alt="">
    </div>
    <div class="text--container">
        <p><span>How?</span> is the question that is always roundering my head, specially in technological matters. Besides, music and films put a spell on me since I was I child... I can remember myself watching the MTV clips until late night. For these reasons I decided to study <span>Telecommunications Engineering</span>. I tought that somehow I could join my passions in one purpouse, and finally I did it. After working on different media, such as television, I realized that future is online and there is a deep technological knowledge to embrace on it. So I put all my effort to understand this new world and enrolled myself in several <span>web development courses</span>, getting my first job as <span>Front-End developer</span>. All this experiences made me feel even more curious about this field and now all I want to do is to increase my knowledge on this industry, knock the correct door and have the chance to <span>keep growing!</span>
        </p>
    </div>
</div>
