<div class="row no-gutters rack">
    <div class="web--container col-xs-12 col-sm-6">
        <a href="https://pablocada.github.io/PelisEOI/#!/"><img src="img/peliseoi.PNG" alt=""></a>
        <div class="info--project">
            <a href="https://pablocada.github.io/PelisEOI/#!/">PelisEOI</a>
            <br>
            <small>Front-End Course Project</small>
        </div>
    </div>

    <div class="web--container col-xs-12 col-sm-6">
        <a href="https://pablocada.github.io/TheFoxFashionWeb/" target="_blank"><img src="img/thfoxfashion.PNG" alt=""></a>
        <div class="info--project">
            <a href="https://pablocada.github.io/TheFoxFashionWeb/" target="_blank">The Fox Fashion</a>
            <br>
            <small>Front-End Course Project</small>
        </div>
    </div>

</div>
<div class="row no-gutters rack">
    <div class="web--container col-xs-12 col-sm-6">
        <a href="https://pablocada.github.io/CRMwithAPI/#!/" target="_blank"><img src="img/freakagenda.PNG" alt=""></a>
        <div class="info--project">
            <a href="https://pablocada.github.io/CRMwithAPI/#!/">Freak Agenda</a>
            <br>
            <small>Front-End Course Project</small>
        </div>
    </div>  
    
    <div class="web--container col-xs-12 col-sm-6">
        <a href="https://chatty.biz/" target="_blank"><img src="img/chatty.png" alt=""></a>
        <div class="info--project">
            <a href="https://chatty.biz/">Chatty</a>
            <br>
            <small>Full-Stack Course Final Project</small>
        </div>
    </div>
       
<div class="row no-gutters rack">
    <div class="web--container col-xs-12 col-sm-6">
        <a href="https://chrome.google.com/webstore/detail/tabynotes/eglppgioghpajmfoijojlpoiabeeofed" target="_blank"><img src="img/taby.png" alt=""></a>
        <div class="info--project">
            <a href="https://chrome.google.com/webstore/detail/tabynotes/eglppgioghpajmfoijojlpoiabeeofed">TabyNotes</a>
            <br>
            <small>Chrome Extension</small>
        </div>
    </div>
</div>
    
