<div class="row rack">
    <div class="web--container">
        <a href="https://pablocada.github.io/PelisEOI/#!/"><img src="img/peliseoi.png" alt=""></a>
        <div class="info--project">
        <a href="https://pablocada.github.io/PelisEOI/#!/">PelisEOI</a>
        <br>
        <small>Front-End Course Project</small>
        </div>
    </div>

       <div class="web--container">
        <a href="https://pablocada.github.io/TheFoxFashionWeb/"><img src="../img/thfoxfashion.png" alt=""></a>
        <div class="info--project">
        <a href="https://pablocada.github.io/TheFoxFashionWeb/">The Fox Fashion</a>
        <br>
        <small>Front-End Course Project</small>
           </div>
    </div>
</div>

      <div class="row rack">

       <div class="web--container">
        <a href="https://pablocada.github.io/CRMwithAPI/#!/"><img src="../img/freakagenda.png" alt=""></a>
        <div class="info--project">
        <a href="https://pablocada.github.io/CRMwithAPI/#!/">Freak Agenda</a>
        <br>
        <small>Front-End Course Project</small>
        </div>
    </div>
</div>
